@font-face {
  font-family: neon-sign;
  src: url(../src/fonts/Clip.ttf)
}

* {
  box-sizing: border-box;
}

.App-header h1 {
  text-align: center;
  font: normal 48px neon-sign;
  color:rgb(46, 255, 231);
  line-height: 150px;
  /* text-shadow: 0 0 10px rgb(46, 255, 231), 0 0 10px rgb(46, 255, 231); */
  text-shadow: 2px 2px 3px rgb(46, 255, 231), 0px 0px 4px rgb(25, 166, 213), 0px 0px 5px rgb(25, 166, 213), 0px 0px 6px rgb(22, 173, 223), 0px 0px 8px rgb(22, 173, 223), 0px 0px 10px rgb(22, 173, 223), 0px 0px 20px rgb(22, 173, 223), 1px 1px 30px rgb(22, 173, 223)
}

.App-main {
  display: grid;
  justify-content: center;
  grid-template-areas: 
    "text text code code"
    ". options options .";
}

.textWrapper, .codeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  grid-area: options;
  background-color: white;
  padding: 15px 5px;
  margin: 15px 5px;
}

#input-form, .buttons {
  display: flex;
  justify-content: space-evenly;
}

input {
  display: block;
  margin-bottom: 7px;
}

.textWrapper {
  grid-area: text;
  background-color: black;
  font-family: neon-sign;
  font-size: 48px;
  margin: 15px 7px;
  height: 200px;
  width: 400px;
  color: white;
}

.codeWrapper {
  grid-area: code;
  font-family: monospace;
  justify-content: left;
  align-items: flex-start;
  margin: 15px 7px;
  background-color: white;
  padding: 24px;
  height: 200px;
  width: 400px;
}

.shadowOutput {
  font-family: monospace;
  text-align: left;
  margin: 0 20px;
}

.App-footer {
  background-color: lightgrey;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: 100%;
}