@font-face {
  font-family: neon-sign;
  src: url(/src/fonts/Clip.ttf)
}

.App {
  text-align: center;
}

.App-main, .App-main>*, .input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  background-color: black;
  height: 200px;
  width: 400px;
  text-align: center;
  justify-content: center;
  color: white;
}