@font-face {
  font-family: neon-sign;
  src: url(../src/fonts/Clip.ttf)
}

.App-header {
  text-align: center;
  font-family: neon-sign;
  font-size: 48px;
  line-height: 150px;
  color: rgb(46, 255, 231);
  text-shadow: 2px 2px 3px rgb(46, 255, 231), 0px 0px 4px rgb(25, 166, 213), 0px 0px 5px rgb(25, 166, 213), 0px 0px 6px rgb(22, 173, 223), 0px 0px 8px rgb(22, 173, 223), 0px 0px 10px rgb(22, 173, 223), 0px 0px 20px rgb(22, 173, 223), 1px 1px 30px rgb(22, 173, 223)
}

.App-main, .codeWrapper, .textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.in-and-out {
  display: flex;
  flex-direction: row;
}

.form-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 5px;
  margin: 15px 5px;
}

.form-wrapper form input {
  margin-bottom: 7px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.textWrapper {
  background-color: black;
  font-family: neon-sign;
  font-size: 48px;
  margin: 15px 7px;
  height: 200px;
  width: 400px;
  color: white;
}

.codeWrapper {
  font-family: monospace;
  justify-content: left;
  align-items: flex-start;
  margin: 15px 7px;
  background-color: white;
  /* outline: 1px solid grey; */
  padding: 24px;
  height: 150px;
  width: 350px;
}

.shadowOutput {
  font-family: monospace;
  text-align: left;
  margin-left: 20px;
}

.App-footer {
  background-color: lightgrey;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: 100%;
}